<main class="home">
  <div class="wave-band" aria-hidden="true">
    <svg viewBox="0 0 1000 90" preserveAspectRatio="none">
      <path class="trace" vector-effect="non-scaling-stroke" d="M0,45.00 L1.79,41.86 L3.57,38.75 L5.36,35.69 L7.14,32.70 L8.93,29.81 L10.71,27.05 L12.50,24.43 L14.29,21.97 L16.07,19.70 L17.86,17.64 L19.64,15.79 L21.43,14.18 L23.21,12.82 L25.00,11.71 L26.79,10.88 L28.57,10.32 L30.36,10.04 L32.14,10.04 L33.93,10.32 L35.71,10.88 L37.50,11.71 L39.29,12.82 L41.07,14.18 L42.86,15.79 L44.64,17.64 L46.43,19.70 L48.21,21.97 L50.00,24.43 L51.79,27.05 L53.57,29.81 L55.36,32.70 L57.14,35.69 L58.93,38.75 L60.71,41.86 L62.50,45.00 L64.29,48.14 L66.07,51.25 L67.86,54.31 L69.64,57.30 L71.43,60.19 L73.21,62.95 L75.00,65.57 L76.79,68.03 L78.57,70.30 L80.36,72.36 L82.14,74.21 L83.93,75.82 L85.71,77.18 L87.50,78.29 L89.29,79.12 L91.07,79.68 L92.86,79.96 L94.64,79.96 L96.43,79.68 L98.21,79.12 L100.00,78.29 L101.79,77.18 L103.57,75.82 L105.36,74.21 L107.14,72.36 L108.93,70.30 L110.71,68.03 L112.50,65.57 L114.29,62.95 L116.07,60.19 L117.86,57.30 L119.64,54.31 L121.43,51.25 L123.21,48.14 L125.00,45.00 L126.79,41.86 L128.57,38.75 L130.36,35.69 L132.14,32.70 L133.93,29.81 L135.71,27.05 L137.50,24.43 L139.29,21.97 L141.07,19.70 L142.86,17.64 L144.64,15.79 L146.43,14.18 L148.21,12.82 L150.00,11.71 L151.79,10.88 L153.57,10.32 L155.36,10.04 L157.14,10.04 L158.93,10.32 L160.71,10.88 L162.50,11.71 L164.29,12.82 L166.07,14.18 L167.86,15.79 L169.64,17.64 L171.43,19.70 L173.21,21.97 L175.00,24.43 L176.79,27.05 L178.57,29.81 L180.36,32.70 L182.14,35.69 L183.93,38.75 L185.71,41.86 L187.50,45.00 L189.29,48.14 L191.07,51.25 L192.86,54.31 L194.64,57.30 L196.43,60.19 L198.21,62.95 L200.00,65.57 L201.79,68.03 L203.57,70.30 L205.36,72.36 L207.14,74.21 L208.93,75.82 L210.71,77.18 L212.50,78.29 L214.29,79.12 L216.07,79.68 L217.86,79.96 L219.64,79.96 L221.43,79.68 L223.21,79.12 L225.00,78.29 L226.79,77.18 L228.57,75.82 L230.36,74.21 L232.14,72.36 L233.93,70.30 L235.71,68.03 L237.50,65.57 L239.29,62.95 L241.07,60.19 L242.86,57.30 L244.64,54.31 L246.43,51.25 L248.21,48.14 L250.00,45.00 L251.79,41.86 L253.57,38.75 L255.36,35.69 L257.14,32.70 L258.93,29.81 L260.71,27.05 L262.50,24.43 L264.29,21.97 L266.07,19.70 L267.86,17.64 L269.64,15.79 L271.43,14.18 L273.21,12.82 L275.00,11.71 L276.79,10.88 L278.57,10.32 L280.36,10.04 L282.14,10.04 L283.93,10.32 L285.71,10.88 L287.50,11.71 L289.29,12.82 L291.07,14.18 L292.86,15.79 L294.64,17.64 L296.43,19.70 L298.21,21.97 L300.00,24.43 L301.79,27.05 L303.57,29.81 L305.36,32.70 L307.14,35.69 L308.93,38.75 L310.71,41.86 L312.50,45.00 L314.29,48.14 L316.07,51.25 L317.86,54.31 L319.64,57.30 L321.43,60.19 L323.21,62.95 L325.00,65.57 L326.79,68.03 L328.57,70.30 L330.36,72.36 L332.14,74.21 L333.93,75.82 L335.71,77.18 L337.50,78.29 L339.29,79.12 L341.07,79.68 L342.86,79.96 L344.64,79.96 L346.43,79.68 L348.21,79.12 L350.00,78.29 L351.79,77.18 L353.57,75.82 L355.36,74.21 L357.14,72.36 L358.93,70.30 L360.71,68.03 L362.50,65.57 L364.29,62.95 L366.07,60.19 L367.86,57.30 L369.64,54.31 L371.43,51.25 L373.21,48.14 L375.00,45.00 L376.79,41.86 L378.57,38.75 L380.36,35.69 L382.14,32.70 L383.93,29.81 L385.71,27.05 L387.50,24.43 L389.29,21.97 L391.07,19.70 L392.86,17.64 L394.64,15.79 L396.43,14.18 L398.21,12.82 L400.00,11.71 L401.79,10.88 L403.57,10.32 L405.36,10.04 L407.14,10.04 L408.93,10.32 L410.71,10.88 L412.50,11.71 L414.29,12.82 L416.07,14.18 L417.86,15.79 L419.64,17.64 L421.43,19.70 L423.21,21.97 L425.00,24.43 L426.79,27.05 L428.57,29.81 L430.36,32.70 L432.14,35.69 L433.93,38.75 L435.71,41.86 L437.50,45.00 L439.29,48.14 L441.07,51.25 L442.86,54.31 L444.64,57.30 L446.43,60.19 L448.21,62.95 L450.00,65.57 L451.79,68.03 L453.57,70.30 L455.36,72.36 L457.14,74.21 L458.93,75.82 L460.71,77.18 L462.50,78.29 L464.29,79.12 L466.07,79.68 L467.86,79.96 L469.64,79.96 L471.43,79.68 L473.21,79.12 L475.00,78.29 L476.79,77.18 L478.57,75.82 L480.36,74.21 L482.14,72.36 L483.93,70.30 L485.71,68.03 L487.50,65.57 L489.29,62.95 L491.07,60.19 L492.86,57.30 L494.64,54.31 L496.43,51.25 L498.21,48.14 L500.00,45.00 L501.79,41.86 L503.57,38.75 L505.36,35.69 L507.14,32.70 L508.93,29.81 L510.71,27.05 L512.50,24.43 L514.29,21.97 L516.07,19.70 L517.86,17.64 L519.64,15.79 L521.43,14.18 L523.21,12.82 L525.00,11.71 L526.79,10.88 L528.57,10.32 L530.36,10.04 L532.14,10.04 L533.93,10.32 L535.71,10.88 L537.50,11.71 L539.29,12.82 L541.07,14.18 L542.86,15.79 L544.64,17.64 L546.43,19.70 L548.21,21.97 L550.00,24.43 L551.79,27.05 L553.57,29.81 L555.36,32.70 L557.14,35.69 L558.93,38.75 L560.71,41.86 L562.50,45.00 L564.29,48.14 L566.07,51.25 L567.86,54.31 L569.64,57.30 L571.43,60.19 L573.21,62.95 L575.00,65.57 L576.79,68.03 L578.57,70.30 L580.36,72.36 L582.14,74.21 L583.93,75.82 L585.71,77.18 L587.50,78.29 L589.29,79.12 L591.07,79.68 L592.86,79.96 L594.64,79.96 L596.43,79.68 L598.21,79.12 L600.00,78.29 L601.79,77.18 L603.57,75.82 L605.36,74.21 L607.14,72.36 L608.93,70.30 L610.71,68.03 L612.50,65.57 L614.29,62.95 L616.07,60.19 L617.86,57.30 L619.64,54.31 L621.43,51.25 L623.21,48.14 L625.00,45.00 L626.79,41.86 L628.57,38.75 L630.36,35.69 L632.14,32.70 L633.93,29.81 L635.71,27.05 L637.50,24.43 L639.29,21.97 L641.07,19.70 L642.86,17.64 L644.64,15.79 L646.43,14.18 L648.21,12.82 L650.00,11.71 L651.79,10.88 L653.57,10.32 L655.36,10.04 L657.14,10.04 L658.93,10.32 L660.71,10.88 L662.50,11.71 L664.29,12.82 L666.07,14.18 L667.86,15.79 L669.64,17.64 L671.43,19.70 L673.21,21.97 L675.00,24.43 L676.79,27.05 L678.57,29.81 L680.36,32.70 L682.14,35.69 L683.93,38.75 L685.71,41.86 L687.50,45.00 L689.29,48.14 L691.07,51.25 L692.86,54.31 L694.64,57.30 L696.43,60.19 L698.21,62.95 L700.00,65.57 L701.79,68.03 L703.57,70.30 L705.36,72.36 L707.14,74.21 L708.93,75.82 L710.71,77.18 L712.50,78.29 L714.29,79.12 L716.07,79.68 L717.86,79.96 L719.64,79.96 L721.43,79.68 L723.21,79.12 L725.00,78.29 L726.79,77.18 L728.57,75.82 L730.36,74.21 L732.14,72.36 L733.93,70.30 L735.71,68.03 L737.50,65.57 L739.29,62.95 L741.07,60.19 L742.86,57.30 L744.64,54.31 L746.43,51.25 L748.21,48.14 L750.00,45.00 L751.79,41.86 L753.57,38.75 L755.36,35.69 L757.14,32.70 L758.93,29.81 L760.71,27.05 L762.50,24.43 L764.29,21.97 L766.07,19.70 L767.86,17.64 L769.64,15.79 L771.43,14.18 L773.21,12.82 L775.00,11.71 L776.79,10.88 L778.57,10.32 L780.36,10.04 L782.14,10.04 L783.93,10.32 L785.71,10.88 L787.50,11.71 L789.29,12.82 L791.07,14.18 L792.86,15.79 L794.64,17.64 L796.43,19.70 L798.21,21.97 L800.00,24.43 L801.79,27.05 L803.57,29.81 L805.36,32.70 L807.14,35.69 L808.93,38.75 L810.71,41.86 L812.50,45.00 L814.29,48.14 L816.07,51.25 L817.86,54.31 L819.64,57.30 L821.43,60.19 L823.21,62.95 L825.00,65.57 L826.79,68.03 L828.57,70.30 L830.36,72.36 L832.14,74.21 L833.93,75.82 L835.71,77.18 L837.50,78.29 L839.29,79.12 L841.07,79.68 L842.86,79.96 L844.64,79.96 L846.43,79.68 L848.21,79.12 L850.00,78.29 L851.79,77.18 L853.57,75.82 L855.36,74.21 L857.14,72.36 L858.93,70.30 L860.71,68.03 L862.50,65.57 L864.29,62.95 L866.07,60.19 L867.86,57.30 L869.64,54.31 L871.43,51.25 L873.21,48.14 L875.00,45.00 L876.79,41.86 L878.57,38.75 L880.36,35.69 L882.14,32.70 L883.93,29.81 L885.71,27.05 L887.50,24.43 L889.29,21.97 L891.07,19.70 L892.86,17.64 L894.64,15.79 L896.43,14.18 L898.21,12.82 L900.00,11.71 L901.79,10.88 L903.57,10.32 L905.36,10.04 L907.14,10.04 L908.93,10.32 L910.71,10.88 L912.50,11.71 L914.29,12.82 L916.07,14.18 L917.86,15.79 L919.64,17.64 L921.43,19.70 L923.21,21.97 L925.00,24.43 L926.79,27.05 L928.57,29.81 L930.36,32.70 L932.14,35.69 L933.93,38.75 L935.71,41.86 L937.50,45.00 L939.29,48.14 L941.07,51.25 L942.86,54.31 L944.64,57.30 L946.43,60.19 L948.21,62.95 L950.00,65.57 L951.79,68.03 L953.57,70.30 L955.36,72.36 L957.14,74.21 L958.93,75.82 L960.71,77.18 L962.50,78.29 L964.29,79.12 L966.07,79.68 L967.86,79.96 L969.64,79.96 L971.43,79.68 L973.21,79.12 L975.00,78.29 L976.79,77.18 L978.57,75.82 L980.36,74.21 L982.14,72.36 L983.93,70.30 L985.71,68.03 L987.50,65.57 L989.29,62.95 L991.07,60.19 L992.86,57.30 L994.64,54.31 L996.43,51.25 L998.21,48.14 L1000.00,45.00"></path>
    </svg>
  </div>

  <section class="home-hero">
    <p class="home-kicker">embedded linux | platform engineering | remote US/Canada</p>
    <h1 class="home-name">Leonardo Baeta</h1>
    <p class="home-role">
      senior embedded linux engineer<span class="sep">/</span>c &amp; c++<span class="sep">/</span>yocto &amp; device platforms
    </p>
    <p class="home-lead">
      I build and write about <strong>embedded Linux platforms for devices that have to survive the field</strong> -
      Yocto images, board bring-up, constrained C++, networking, security,
      and the Linux internals underneath it all.
    </p>
    <p class="home-cta">
      <a href="/posts">read the posts <span class="arr">-></span></a>
      <a href="/about#work">work with me <span class="arr">-></span></a>
      <a href="/feed.xml">RSS <span class="arr">-></span></a>
    </p>
  </section>

  <section class="home-hire" aria-labelledby="hire-heading">
    <div>
      <p class="home-hire-kicker">Open to remote US/Canada roles</p>
      <h2 id="hire-heading">Senior Embedded Linux / Platform Engineer</h2>
      <p>
        Useful when a product team needs ownership below the application:
        custom Linux images, Yocto/OpenEmbedded, BSP integration, field
        reliability, security standards, and hardware-aware debugging.
      </p>
    </div>
    <ul class="home-hire-list">
      <li>15+ years C/C++ on embedded products</li>
      <li>Yocto-certified, current power-grid firmware architect</li>
      <li>Prior remote core-system role with a Canadian team</li>
    </ul>
  </section>

  <section class="latest">
    <div class="latest-hd">
      <span class="lab">Latest</span>
      <a href="/posts">all posts <span class="arr">-></span></a>
    </div>
    <% if (!recent.length) { %>
      <p class="latest-empty">No posts yet - check back soon.</p>
    <% } else { %>
      <ul class="latest">
        <% recent.forEach(function (p, i) { %>
          <li>
            <a href="/posts/<%= p.slug %>">
              <span class="num"><%= String(i + 1).padStart(2, '0') %></span>
              <span class="t"><%= p.title %></span>
              <span class="meta"><%= p.displayDate %> | <%= p.readingTime %> min</span>
            </a>
          </li>
        <% }); %>
      </ul>
    <% } %>
  </section>
</main>
